# =========================
# 1. 数据集（核心忽略）
# =========================
data/
datasets/
genome_data/

*.fa
*.fna
*.fasta
*.fastq
*.fq
*.gz

*.npy
*.npz
*.h5
*.hdf5
*.pt
*.pth
*.ckpt
*.pkl


# =========================
# 2. 训练输出 & 日志
# =========================
dna_model/
checkpoints/
models/
runs/
wandb/
logs/
*.log


# =========================
# 3. Python & 构建缓存
# =========================
__pycache__/
*.py[cod]
*.so
*.egg-info/
build/
dist/


# =========================
# 4. 虚拟环境
# =========================
venv/
.venv/
env/
.env/


# =========================
# 5. 编辑器 & 系统垃圾
# =========================
.vscode/
.idea/
*.iml
.DS_Store
Thumbs.db
*.swp
*.swo
